Source: mafw-gst-renderer
Section: misc
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 10), libglib2.0-dev, libconic0-dev, libgconf2-dev,
               libx11-dev, libosso-dev (>= 2.0), libmafw0-dev (>= 0.1),
               checkmore, mce-dev, libdbus-1-dev, gstreamer1.0-plugins-base,
               libtotem-plparser-dev, libpulse-dev, libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev, gstreamer1.0-plugins-good,
               maemo-system-services-dev, libgdk-pixbuf-2.0-dev
Standards-Version: 3.7.2

Package: mafw-gst-renderer
Section: libs
Architecture: any
Depends: gconf2, ${shlibs:Depends}, ${misc:Depends}
Description: MAFW gst renderer plugin
 Renderer plugin for MAFW-gst
