#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.

#export DH_VERBOSE=1

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0 -ggdb3 -finstrument-functions
endif

maybe_coverage := $(if $(filter lcov,$(DEB_BUILD_OPTIONS)),--enable-coverage,)

DEB_CONFIGURE_EXTRA_FLAGS = --prefix=/usr $(maybe_coverage)

# CFLAGS += -Werror

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	dh_install
	dh_maemolauncher -p connui-conndlgs-cellular

#ifeq ($(findstring nocheck,$(DEB_BUILD_OPTIONS)),)
#	$(MAKE) check
#endif



# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)



#install debian/mafw-gst-renderer.mafw.xsession \
#	debian/mafw-gst-renderer/etc/X11/Xsession.post/32mafw-gst-renderer

#distcheck: build
#	dh_testdir
#	$(MAKE) distcheck

#vg:
#	dh_testdir
#	$(MAKE) -C "$(CURDIR)/tests" vg
#
